*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-image: linear-gradient(60deg, #d6d3c8 0%, #d3c4c0 100%);
    color: white;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width:100%;
    margin : 0 auto;

}
header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: #6b7280;
    margin-bottom: 1rem;
}
#new-task-form{
    display: flex;
}
input, button{
    appearance:none;
    border:none;
    outline:none;
    background: none;

}
#new-task-input{
    flex: 1 1 0%;
    background-color: #1f2937;
    padding:1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: #eee;
    font-size:1.25rem;

}
#new-task-input::placeholder{
    color: #6b7280;

}
#new-task-submit{
    color: #6419ee;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: linear-gradient(to right , #df6062,#4c10d6);
    cursor: pointer;
    transition: 0.4s;
}
#new-task-submit:hover{
    opacity:0.8;
}
#new-task-submit:active{
    opacity:0.6;
}
main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 100%;
    margin: 0 auto;
}
.task-list{
    padding :1rem;
}
.task-lish h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: #6b7280;
    margin-bottom: 1rem;
}
#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: #111827;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
#tasks .task .content .text{
    color: #eee;
    font-size: 1.125rem;
    width: 100%;
    display:block;
    transition: 0.4s;
}
#tasks .task .content .text:not(:read-only){
    color: #ec9899;
}
#tasks .task .actions{
    display: flex;
    margin :0 -0.5rem;
}
.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem ;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    color:rgb(18, 230, 46);
}
.delete{
    color:rgb(243, 101, 7) !important;
}
.task .actions button:hover{
    opacity: 0.8;
}
.task .actions button:active{
    opacity: 0.6;
}


